*{
    margin: 0;
    padding: 0px;
}

.body{
    background: #0a4b73;
}
.container{
    width: 850px;
    margin: 40px auto;
    background: #3bacd9;
    padding: 10px;
    border: 2px solid azure;   
}
.topo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin-bottom: 10px;
}